<!-- Navigation -->
<nav id="navbarMaze" class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">KIDSTHINKING</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="/"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container">
  <form class="form-login" action="/api/login" method="post">
    <h2 class="form-login-heading"><%- schoolName %> - <%- className %></h2>
    <div>
      <h3>이름을 선택해주세요</h3>
      <% for(var i = 0; i < students.length; i++) { %>
        <div>
          <input type="radio" name="name" value="<%= students[i].name %>" id="<%= students[i].name %>">
          <label for="<%= students[i].name %>"><%= students[i].name %></label>
        </div>
      <% } %>
    </div>
    <div>
      <h3>생일을 선택해주세요</h3>
      <%
      var birthdays = students.map(function(obj) {
        return obj.password;
      });
      for(var i = 0; i < birthdays.length; i++) {
        var rand = parseInt(Math.random()*birthdays.length, 10);
            temp = birthdays[i];
        birthdays[i] = birthdays[rand];
        birthdays[rand] = temp;
      }
      for(var i = 0; i < birthdays.length; i++) {
      %>
      <div>
        <input type="radio" name="password" value="<%= birthdays[i] %>" id="<%= birthdays[i] %>">
        <label for="<%= birthdays[i] %>"><%= parseInt(birthdays[i].slice(0, 2), 10) + "월 " + birthdays[i].slice(2) + "일" %></label>
      </div>
      <% } %>
    </div>
    <button class="btn btn-theme btn-block" type="submit">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 로그인
    </button>
    <!--div class="login-wrap">
      <label for="name" class="sr-only form-control">이름</label>
      <input name="name" id="name" class="form-control" placeholder="이름" required autofocus>
      <br>
      <label for="password" class="sr-only">비밀번호</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호" required>
      <br>
      <button class="btn btn-theme btn-block" type="submit">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 로그인
      </button>
    </div-->
  </form>
</div> <!-- /container -->
