<% week = week.split(","); %>
<style>
  body header .container {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize !important;
  }
  .navbar {
    position: relative !important;
  }
  .btn-warning {
    margin: 20px;
    width: 130px;
    padding: 10px;
  }
  .btn-warning.selected {
    background-color: #E53;
  }
  .btn-outline {
     width: 100%;
     height: 60px;
     line-height: 60px;
     display: block;
     margin: 10px auto;
     padding: 0;
  }
  #characters {
    margin-bottom: 50px;
  }
  .character {
    width: 128px;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 5px;
  }
  .character.selected {
    background-color: #E53;
    border: 2px solid yellow;
  }
  h3 {
    margin-bottom: 30px;
  }
  .book {
    display: flex;
    margin: 10px auto;
    padding: 0;
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    border-radius: 6px;
  }
  .book-header {
    padding: 0 10px;
    border-right: 1px solid white;
    font-weight: bold;
    width: 40px;
    line-height: 58px;
  }
  .book-title {
    width: 240px;
    text-align: center;
    float: left;
    border-right: 1px solid white;
  }
  .book-0 {
    white-space: normal;
  }
  .book-1 {
    font-size: 14px;
    white-space: normal;
  }
  .book-list {
    text-align: left;
    flex: 1;
    padding: 0 10px;
  }
  .book-problem {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    display: inline-block;
    padding: 0 8px;
    height: 40px;
    line-height: 40px;
    margin: 9px 0;
    min-width: 40px;
    text-align: center;
  }
  .book-problem:hover {
    background-color: white;
    color: #18bc9c;
    text-decoration: none;
  }
  .done {
    color: #333;
  }
  .undone {
    color: lightgray;
  }
  .star-light {
    margin: 50px auto 30px !important;
  }
</style>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <span class="navbar-brand">KIDSCODING</span>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <h2>키즈코딩 수강 학생 리스트</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>번호</td>
            <th>이름</br>아이디</th>
            <th>학습평가서</th>
            <th>교재</th>
            <% for(var j = 0; j< week.length; j++) { %>
              <th><%=week[j]+"단원"%></th>
            <% } %>
        </td>
        <% for(var i = 0; i < stuList.length; i++) { %>
        <tr>
            <th><%=(i+1)%></th>
            <td><%=stuList[i][2]%><br/><%=stuList[i][1]%></td>
            <td><a class="btn btn-default report" href="#" role="button" data-student="<%=stuList[i].slice(0,-1)%>">열기</a></td>
            <td><%={"46":"A","47":"B"}[stuList[i][3]]+"-"+stuList[i][4]%></td>
            <% for(var j = 0; j< week.length; j++) { %>
            <td>
                <% var video = stuList[i][5]['v'+week[j]]; %>
                <% var tutorial = stuList[i][5]['v'+week[j]+'t']; %>
                <% var activity = stuList[i][5]['c'+week[j]]; %>
                <% var maze = stuList[i][5]['c'+week[j]] || 0; %>
                <span class="glyphicon glyphicon-film <%=video ? 'done' : 'undone'%>" title="<%=video ? '교육영상 완료' : '교육영상 미완료'%>"></span>
                <% if(week[j] % 2 == 1) { %>
                <span class="glyphicon glyphicon-pencil <%=activity ? 'done' : 'undone'%>" title="<%=activity ? '문제풀기 완료' : '문제풀기 미완료'%>"></span>
                <% } else { %>
                <span class="glyphicon glyphicon-play-circle <%=tutorial ? 'done' : 'undone'%>" title="<%=tutorial ? '실습영상 완료' : '실습영상 미완료'%>"></span>
                <span class="glyphicon glyphicon-pencil <%=maze>=5 ? 'done' : 'undone'%>" title="문제풀기 (<%=maze + '/20'%>)"></span><br/>
                <span class="<%=maze>=5 ? 'done' : 'undone'%>">(<%=maze%>/20)</span>
                <% } %>
            </td>
            <% } %>
        </tr>
        <% } %>
    </table>
  </div>
</div>

<script>
// http://office.toycode.org/reports?
// code=49978
// classId=A00083-K1-KC1
// academyId=A00083-K1
// parentId=A00083
// school=잉글루
// className=키즈코딩
// level=A
// students=홍길동

// classId:"F00000-1001-KC1"
// id:"F00000-1001-KC1,test001"
// kinder:"F00000-1001"
// user:"test001"

$(".report").click(function(e) {
  var url = "http://office.toycode.org/reports?",
      data = $(e.currentTarget).data("student").split(","),
      query = [
        "code=engloo",
        "classId=F00000-" + data[0] + "-KC1",
        "school=" + encodeURIComponent("잉글루"),
        "className=" + encodeURIComponent("키즈코딩"),
        "level=cho_" + {"46":"a","47":"b"}[data[3]] + data[4],
        "students=" + data[2],
        "userId=" + data[1]
      ];
  window.open(url+query.join("&"), "_blank");
});
</script>
