<script type="text/javascript" src="/components/ejs/ejs.min.js"></script>
<style>
  .btn-warning {
    width: 70px;
    font-size: 10px;
    padding: 5px;
  }
  .btn-warning.selected {
    background-color: #E53;
    border-color: #E53;
  }
  .character {
    width: 80px;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 5px;
  }
  .character.selected {
    background-color: #E53;
    border: 2px solid yellow;
  }
  .card-row {
    position: relative;
    text-align: center;
  }
  .card {
    position: relative;
    display: inline-block;
    width: 280px;
    margin: 17px 35px;
    /* border: 1px solid black; */
    padding: 10px 15px;
  }
  .card h1 {
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 16px;
    height: 45px
  }
  .sub-row {
    position: relative;
    text-align: center;
  }
  .sub-row .selected {
    font-size: 18px;
    width: 120px;
    height: 33px;
    margin-left: -20px;
    margin-bottom: 2px;
  }
  .sub-row label.left, .sub-row label.right {
    width: 90px;
  }
  .row label {
    position: absolute;
    display: inline-block;
    left: 5px;
    top: 10px;
  }
  .kidscoding {
    float: left;
    width: 60px;
    padding-top: 5px;
    margin-left: 35px;
  }
</style>
<script id="template" type="text/x-ejs-template">
<div class="card">
  <img class="kidscoding" src="/img/kidsthinking.png"/>
  <h1><?=title?><br/><small><?=school?> <?=className?></small></h1>
  <div class="sub-row">
    <button class="btn btn-lg btn-warning selected"><?=index?>:<?=name?></button>
    <img class="character" src="img/login/<?=imgUrl?>/<?=img?>.png" />
  </div>
  <div class="sub-row">
    <label class="left"><?=id?></label>&nbsp;&nbsp;&nbsp;&nbsp;<label class="right"><?=password?></label>
  </div>
</div>
</script>
<div class="page">
</div>
<!--div id="names">

</div-->

<script>
  var school = "<%=school%>",
      code = "<%=code%>",
      className = "<%=className%>",
      yearmonth = "<%=yearmonth%>",
      levelLogin = "<%=level%>",
      students = "<%=students%>",
      lang = "<%=lang%>" || "ko";
  students = students ? students.split(",") : null;
  var msg = {
        ko: {
          title: "키즈씽킹 로그인",
          id: "로그인 아이디",
          password: "비밀 캐릭터"
        },
        en: {
          title: "KidsThinking Login",
          id: "ID",
          password: "Password"
        }
      };
  $(function() {
    var d2 = $.Deferred(),
        d3 = $.Deferred();

    $.get("login/names.json", function(names) {
      d2.resolve(names);
    });
    $.get("login/level_pw.json", function(level) {
      d3.resolve(level);
    });
    $.when(d2, d3).done(function(names, level) {
      ejs.open = '<?';
      ejs.close = '?>';
      var str = $("#template").html(),
          template = ejs.compile(str);
      names = students || names["default"];
      if(levelLogin != 'A' && levelLogin != 'B' && levelLogin != 'C'){
        levelLogin = "default";
      }
      var row = [];
      level = level[levelLogin] || level["default"];
      var imgs = getImgs(yearmonth, code, className, level);
      names.forEach(function(nameArr, index) {
        row.push(template({
          index: (index+1),
          name: $.isArray(nameArr) ? nameArr[1] : nameArr,
          school: school,
          className: className,
          img: imgs[index],
          imgUrl: levelLogin,
          title: msg[lang].title,
          id: msg[lang].id,
          password: msg[lang].password
        }));
        if(row.length == 2 || index + 1 == names.length) {
          var $row = $('<div class="card-row">').append(row[0]).append(row[1]);
          $(".page").append($row);
          if(row.length < 2 && index + 1 == names.length) {
            $row.append('<div class="card" style="width:280px;">');
          }
          row = [];
        }
      });
    });
  });
</script>
